extends views/layout/layout

block vars 
    -title = 'Gulp Workflow'
    -bodyClass = ''

block container
    h2 Gulp Workflow 🔥
    h1 Nguyễn Hoàng Nam - Daniel Nam
    img(src="./images/logo.jpg", alt="")